<!DOCTYPE html>
<html lang="en" class="gr__klaminite1337_github_io"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Klam's Lab</title>
  <meta name="description" content="Kllaminites Personal site.">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="//cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <link rel="stylesheet" href="https://klaminite1337.github.io/assets/css/main.css">
  <!--//reee dont murder me i know this is richards css but its so useful sometimes.-->
  <link rel="stylesheet" type="text/css" href="https://stallman.org/common/stallman.css">
</head>
    <body data-gr-c-s-loaded="true">
      <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Basic Topnav</a></li>
  </ul>
</nav>

      <div>
        <h3 style="text-align: center;"> Klaminites Site </h3>
        <p>Just a cool place owned by a cool dude. </p>
      </div>
        <div class="alert alert-success" role="alert"><script async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.google-analytics.com/analytics.js"></script><script>
    // Set the date we're counting down to
    var countDownDate = new Date("July 15, 2017 24:00:00").getTime();
    // Update the count down every 1 second
    var x = setInterval(function() {
        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("demot").innerHTML = "Time until new build:"
        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
    </script>
          <p id="demot">Time until new build:</p>
              <p id="demo">13d 12h 17m 4s </p>
              <p>So, as of recently, a lot of things have been going down, I've finally aquired a new computer,
                but on top of that, I've perhaps put myself in a debt hole, 425 out of 3 grand isn't that much though
                anyways, I decided not to make a full post about this, but I will be setting up a paypal if you
                want to donate to it, anything helps really. 2 dollars, 20 dollars, throw in a few yens (I've collected
                a few of them). Anyways, yea, thanks for helping!
              </p>
                        <section id="about">
              <div class="col-md-4">
     <div class="page-header">
</div>
<div class="container">
<div class="row">
  <div style="text-align: center">
    <div class="column1">
      <h4 style+"text-align:="" center;"="">Articles</h4>
        <ul style="text-align: center;" class="posts">
          {%include themes/bootstrap-3/page.html %}
        </ul>
    </div>
    <div class="column2">
     <h4 style="text-align: center;">the 'x' of the day</h4>
      <script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js"></script>
    <script type="text/javascript" src="https://www.brainyquote.com/link/quotena.js"></script>
    </div>
    
    <div class="column3">
       <h4 style="text-align: center;">Links</h4>
        <li>
         <a href="https://pcpartpicker.com/user/klaminite/saved/KzHXLk">Klams Rig</a>
        </li>
        <li>
         <a href="https://www.tensorflow.org/">Tensorflow</a>
        </li>
        <li>
         <a href="http://bshs.us.to/">Blues site</a>
        </li>
        <li>
          <a href="https://stallman.org/something-to-fear.html">Mass Surveillance</a>
        </li>
      </div>
    </div>
  </div>
</div>
</div>
</section>
</div>
<footer class="footer">
  <p>© Klaminite</p>
  <p>Built using Logic and Reasoning <span class="love">❤</span></p>
</footer>
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://klaminite1337.github.io/assets/js/sweet-scroll.min.js"></script>
    <script src="https://klaminite1337.github.io/assets/js/main.js"></script>
    <!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
